.user__info,
.user__info__dark {
  display: flex;
  flex-direction: column;
}

.user__info__container,
.user__info__dark > .user__info__container {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  user-select: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user__info__dark > .user__info__container {
  background-color: var(--color-body-dark);
}
.user__info__avatar {
  width: 25px !important;
  height: 25px !important;
  margin-left: -8px !important;
  border: 1px solid var(--main-color) !important;
}

.user__info__dark .user__info__avatar {
  border-color: var(--color-gray-dark);
}

.user__info__top__10 {
  display: flex;
  padding-bottom: 10px;
}
.user__info__container > h3 {
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  color: var(--main-color);
}

.user__info__dark > .user__info__container > h3 {
  color: var(--color-pink);
}

.user__info__container > h3 > span {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
  text-decoration: underline;
}
.user__info__dark > .user__info__container > h3 > span {
  color: var(--color-gray-dark);
}

.user__info__container > h1 {
  font-weight: bold;
  font-size: 1rem;
  color: var(--main-color);
}
.user__info__dark > .user__info__container > h1 {
  color: white;
}
.user__info__container > h2,
.user__info__container > h5,
.user__info__container > h4 {
  color: var(--color-purple);
  margin: 10px auto;
  font-size: 0.9rem;
}
.user__info__dark > .user__info__container > h2,
.user__info__dark > .user__info__container > h4,
.user__info__dark > .user__info__container > h5 {
  color: white;
}
.user__info__container > h5 {
  font-weight: bold;
}
.user__info__container > h5 > span {
  margin: 0px 5px !important;
  cursor: pointer;
}
.user__info__container > h4 {
  font-weight: bold;
  margin-top: unset;
}
.user__info__container > p {
  font-size: 0.9rem;
  color: gray;
}

.user__info__dark > .user__info__container > p {
  color: var(--color-gray-dark);
}
.user__info__container > div:last-of-type {
  width: 100%;
}
.user__info__container > div > p {
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: bold;
}
.user__info__dark > .user__info__container > div > p {
  color: white;
}
.user__info__badge {
  position: absolute !important;
  background-color: var(--color-purple) !important;
  color: white !important;
  top: 10px;
  left: 10px;
}
.user__info__container > button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--main-color) !important;
  color: white;
  width: 100px;
}
.user__info__dark > .user__info__container > button {
  background-color: var(--color-brown-dark);
}
.user__info__container > h5 > span:hover {
  text-decoration: underline;
}
