.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.home__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, var(--color-brown), var(--color-green));
  justify-content: center;
  user-select: none;
  user-zoom: none;
  align-items: center;
  padding: 30px;
}
.home__left > h1 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px black;
}
.home__left > p {
  color: var(--color-gray);
  text-align: center;
  z-index: 1;
}
.home__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  user-zoom: none;
  align-items: center;
  position: relative;
  background: linear-gradient(to left, var(--main-color), var(--color-green));
}

.home__right > h1 {
  font-size: 1.3rem !important;
  color: transparent;
  text-transform: uppercase;
  z-index: 2;
  font-weight: 500 !important;
  background: linear-gradient(to right, white, var(--color-gray));
  background-clip: text;
  text-shadow: 2px 2px var(--color-green);
}
.home__right__top,
.home__right__bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  padding: 20px 10px;
}

.home__right__bottom > div > h2,
.home__right__top > div > h2 {
  font-size: 1rem !important;
  color: white;
  margin-bottom: 20px;
  font-weight: 500 !important;
  margin: 0px 10px;
}
.home__right__bottom > button,
.home__right__top > button {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}
.home__right__bottom > div,
.home__right__top > div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
  margin-bottom: 20px;
}
.home__right__bottom > div > span,
.home__right__top > div > span {
  flex: 1;
  border-bottom: 2px solid white !important;
  border-radius: 999px;
}

.home__emoji {
  position: absolute;
  font-size: 3rem;
  z-index: 1;
}

.home__emoji:nth-of-type(1) {
  top: 30px;
  right: 50px !important;
}
.home__emoji:nth-of-type(2) {
  bottom: 30px;
  right: 50px !important;
}
.home__emoji:nth-of-type(3) {
  left: 30px;
  top: 50px !important;
}
.home__emoji:nth-of-type(4) {
  top: 30px;
  right: 50px !important;
}
.home__emoji:nth-of-type(5) {
  top: 300px;
  right: 560px !important;
}
.home__emoji:nth-of-type(6) {
  bottom: 100px;
  left: 300px !important;
}
.home__emoji:nth-of-type(7) {
  bottom: 100px;
  left: 300px !important;
}
.home__emoji:nth-of-type(8) {
  bottom: 500px;
  right: 300px !important;
}
.home__emoji:nth-of-type(9) {
  top: 50px;
  left: 600px !important;
}

.home__emoji:nth-of-type(10) {
  bottom: 30px;
  right: 500px !important;
}
.home__emoji:nth-of-type(11) {
  bottom: 50%;
  left: 30px !important;
}
.home__emoji:nth-of-type(12) {
  bottom: 30px;
  right: 500px !important;
}
