.card,
.card__dark {
  margin: 5px auto;
  background-color: var(--main-color);
  position: relative;
  height: 400px;
  width: 400px !important;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  user-select: none;
  margin-left: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.card__container,
.card__container__dark {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.card__center {
  user-select: none;
  user-zoom: none;
}
.card__avatar {
  width: 130px !important;
  height: 130px !important;
}
.card__avatar img {
  -webkit-user-drag: none !important;
}
.card__top,
.card__container__dark > .card__top {
  width: 100%;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  padding: 15px 5px 5px 15px;
  z-index: 10;
  background-color: rgba(3, 76, 101, 0.4);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card__container__dark > .card__top {
  background-color: rgba(44, 54, 57, 0.4);
}

.card__top > h1,
.card__container__dark > .card__top > h1 {
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.card__top
  > h1
  > span:nth-child(1)
  .card__container__dark
  > .card__top
  > h1
  > span:nth-of-type(1) {
  color: gray;
}
.card__bottom {
  /* overflow-y: hidden; */
  display: flex;
  width: 100%;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card__bottom > button,
.card__container__dark > .card__bottom > button {
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  background-color: var(--color-brown);
  border-radius: 999px;
  margin: 5px;
  transition: all 1s;
}

.card__container__dark > .card__bottom > button:first-of-type {
  background-color: var(--color-brown-dark);
}
.card__bottom > button:last-of-type {
  background-color: var(--color-pink);
}
.card__container__dark > .card__bottom > button:last-of-type {
  background-color: var(--color-main-dark);
}
.card__bottom > button:hover {
  background-color: var(--main-color);
}
.card__container__dark > .card__bottom > button:hover {
  background-color: var(--color-pink);
}
.card__container > h3,
.card__container__dark > h3 {
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  color: var(--color-pink);
  margin: 5px 0;
}

.card__container > h3 > span,
.card__container__dark > h3 > span {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  text-decoration: underline;
}
.card__bio {
  z-index: 10;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}
.card__bio > p > a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-pink);
  font-weight: 600;
}
