.main {
  flex: 0.6;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.main::-webkit-scrollbar {
  width: 5px;
}
.main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.main::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
.main::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple);
  cursor: pointer;
}
.main > h1 {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--main-color);
  margin-bottom: 10px;
  user-select: none;
  user-zoom: none;
  margin: 10px 0;
  background-color: #f5f5f5;
  padding: 10px;
}

@media only screen and (max-width: 1000px) {
  .main {
    flex: 1;
  }
}
