.change__password__settings {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  user-select: none;
}
.change__password__settings > p {
  color: var(--main-color);
  font-size: 0.7rem;
}
.change__password__settings > h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

.change__password__settings > form > div {
  margin-bottom: 10px !important;
}
.change__password__settings > form > div:first-of-type {
  width: 100%;
  max-width: 400px;
}
.change__password__settings > form > div:last-of-type {
  display: flex;
}
.change__password__settings > form > div > div:first-of-type {
  margin-right: 10px;
}
.change__password__settings > form > p {
  text-align: center;
  font-size: 0.8rem;
  margin: 5px auto;
}
.change__password__settings > form > p.change__password__error {
  color: red;
}
.change__password__settings > form > button {
  align-self: flex-end;
  background-color: var(--main-color);
  color: white;
  margin: 10px 0;
  font-weight: 500 !important;
}

@media only screen and (max-width: 768px) {
  .change__password__settings > form > div:last-of-type {
    display: unset;
  }
  .change__password__settings > form > div > div:first-of-type {
    margin-right: unset;
    margin: 10px 0;
  }
  .change__password__settings > form > div:first-of-type {
    max-width: unset;
  }
}
