.explore,
.explore__dark {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  user-select: none;
  user-zoom: none;
}
.explore__dark {
  background-color: var(--color-main-dark);
}
.explore__main {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  padding: 0 10px;
}
.explore > p,
.explore__dark > p {
  color: var(--main-color);
  font-size: 0.7rem;
  text-align: center;
  margin: 5px auto;
}
.explore__dark > p {
  color: white;
}
.explore > h1,
.explore__dark > h1 {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 600;
}
.explore__dark > h1 {
  color: white;
}
.explore > h1 > span:last-of-type,
.explore__dark > h1 > span:last-of-type {
  border-bottom: 1px solid var(--main-color);
  flex: 1;
  margin-left: 5px;
}
.explore__dark > h1 > span:last-of-type {
  border-color: white;
}
.explore__main::-webkit-scrollbar {
  height: 5px;
}
.explore__main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.explore__main::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
.explore__main::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple);
  cursor: pointer;
}

.explore__dark > .explore__main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.explore__dark > .explore__main::-webkit-scrollbar-thumb {
  background: var(--color-brown-dark);
}
.explore__dark > .explore__main::-webkit-scrollbar-thumb:hover {
  background: var(--color-pink);
}
