.signout__btn {
  background-color: white;
  margin: 20px 10px;
  border-radius: 5px;
  padding: 20px;
}
.signout__btn > h1 {
  user-select: none;
  font-weight: 500;
}
.signout__btn > h1 > span {
  color: var(--main-color);
  text-decoration: underline;
}

.signout__btn > button {
  background-color: var(--main-color);
  color: white;
  margin-top: 10px;
}
