.free__card {
  background-color: var(--main-color);
  border-radius: 5px;
  margin-bottom: 5px;

  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid lightblue;
}
.free__card__preview {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.free__card__preview__image {
  width: 200px;
  -webkit-user-drag: none;
  margin: 0px auto;
  margin-top: 20px;
  animation: animate 1s ease 0 infinite;
}
.free__card__buttons {
  background-color: white;
  display: flex;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.free__card__buttons > button {
  margin-right: 5px;
  color: white;
  background-color: var(--color-pink);
  transition: all 1s;
}
.free__card__buttons > button:hover {
  background-color: var(--main-color);
}

@keyframes animate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.09);
  }
}
