.footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 5px 5px 15px 5px;
  justify-content: center;
}
.footer > p {
  color: gray;
  font-size: 0.8rem;
}
