@import url(https://fonts.googleapis.com/css?family=Trirong);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: unset !important;
}
body {
  padding: 0;
  margin: 0;
  --main-color: #034c65;
  --color-pink: #ef8c86;
  --color-brown: #2f1f2b;
  --color-purple: #685268;
  --color-orange: #fcb677;
  --color-main-dark: #2c3639;
  --color-body-dark: #3f4e4f;
  --color-brown-dark: #a27b5c;
  --color-gray-dark: #dcd7c9;
  font-family: "Trirong", sans-serif !important;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
