.banner,
.banner__dark {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  user-select: none;
  user-zoom: none;
}
.banner__dark {
  background-color: var(--color-main-dark);
}
.banner__container {
  background-color: var(--main-color);
  background-blend-mode: lighten;
  border-top: 1px solid var(--color-purple);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 50vh;
  position: relative;
}
.banner__error {
  color: red;
  padding: 10px;
}
.banner__change__btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.banner__change__btn button {
  background-color: var(--color-purple);
  color: white;
}
.banner__avatar__container {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.banner__avatar {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 10px;
  user-select: none !important;
}

.banner__avatar__btn {
  color: white;
  font-size: 1.5rem;
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
.banner__dark .banner__avatar__btn {
  background-color: var(--color-brown-dark);
}
.banner__sub__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  user-zoom: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 1s;
  animation: animate 1s ease 0s infinite alternate;
}
.banner__sub__info > h1 {
  font-weight: bold;
  font-size: 1rem;
  color: white;
}
.banner__sub__info > h2 {
  color: white;
  margin: 10px auto;
  font-size: 0.7rem;
}

.banner__sub__info > h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  position: relative;
  color: white;
}

.banner__sub__info > h3 > span {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  text-decoration: underline;
}
.banner > button,
.banner__dark > button {
  background-color: var(--main-color);
  color: white;
  font-weight: unset;
  margin: 10px;
  width: 150px;
  margin-top: unset;
}
.banner__dark > button {
  background-color: var(--color-brown-dark);
}
@keyframes animate {
  from {
    transform: scale(1);
    background-color: var(--main-color);
  }
  to {
    transform: scale(1.09);
    background-color: var(--color-purple);
  }
}
