.delete__account__settings,
.delete__account__settings__dark {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  user-select: none;
}
.delete__account__settings__dark {
  background-color: var(--color-main-dark);
}
.delete__account__settings > p,
.delete__account__settings__dark > p {
  color: red;
  font-size: 0.7rem;
}
.delete__account__settings > h1,
.delete__account__settings__dark > h1 {
  font-weight: 600;
  margin-bottom: 10px;
}
.delete__account__settings__dark > h1 {
  color: white;
}
.delete__account__settings__dark > form > div:first-of-type,
.delete__account__settings > form > div:first-of-type {
  width: 100%;
  max-width: 400px;
}

.delete__account__settings__dark > form > div > div:first-of-type,
.delete__account__settings > form > div > div:first-of-type {
  margin-right: 10px;
}
.delete__account__settings__dark > form > p,
.delete__account__settings > form > p {
  font-size: 0.8rem;
  margin: 5px auto;
  color: var(--main-color);
}
.delete__account__settings__dark > form > p {
  color: white;
}

.delete__account__settings__dark > form > p.delete__account__error,
.delete__account__settings > form > p.delete__account__error {
  color: red;
}
.delete__account__settings__dark > form > button,
.delete__account__settings > form > button {
  align-self: flex-end;
  background-color: var(--main-color);
  color: white;
  margin: 10px 0;
  font-weight: 500 !important;
}
.delete__account__settings__dark > form > button {
  background-color: var(--color-brown-dark);
}
.delete__account__settings__dark > form input {
  color: white;
}

@media only screen and (max-width: 768px) {
  .delete__account__settings__dark > form > div > div:first-of-type,
  .delete__account__settings > form > div > div:first-of-type {
    margin-right: unset;
  }
  .delete__account__settings__dark > form > div:first-of-type,
  .delete__account__settings > form > div:first-of-type {
    max-width: unset;
    align-items: center;
    display: flex;
  }
  .delete__account__settings__dark > form > p,
  .delete__account__settings > form > p {
    text-align: center;
  }
}
