.profile__modal__content {
  padding: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  user-select: none;
  user-zoom: none;
}
.profile__modal__content__container {
  flex: 1;
  overflow-y: scroll;
  padding: 10px 0;
}
.profile__modal__content > h1 {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid var(--color-purple);
  font-weight: 800 !important;
}
.profile__modal__content > button {
  margin: 5px;
  background-color: var(--color-purple);
  color: white;
}

.profile__modal__content__container::-webkit-scrollbar {
  width: 5px;
}
.profile__modal__content__container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.profile__modal__content__container::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
.profile__modal__content__container::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple);
  cursor: pointer;
}
