.profile {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  user-zoom: none;
  flex-direction: column;
  background-color: #f5f5f5;
}
.profile > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  max-width: 500px;
  margin: 0px auto;
  background-color: white;
}
.profile > form > img {
  -webkit-user-drag: none;
  width: 100px;
}
.profile > form > button {
  width: 100%;
  color: white;
}
.profile > form > div {
  display: flex;
  justify-content: space-between;
}
.profile > form > div > button {
  flex: 1;
  color: white;
}
.profile > form > div > button:first-of-type {
  background-color: var(--main-color);
  margin-right: 10px;
}
.profile > form > button:last-of-type,
.profile > form > div > button:last-of-type {
  background-color: var(--color-pink);
}
.profile > form > h1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: flex-start;
  margin: 10px 0;
}
@media only screen and (max-width: 768px) {
  .profile {
    background-color: white;
  }
}
.profile > form > input {
  background-color: #f5f5f5;
  outline: none;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.profile > form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  font-size: 0.8rem !important;
  color: gray;
}
.profile > form > div > span {
  border-bottom: 2px solid lightgray;
  flex: 1;
}
.profile > form > div > h1 {
  margin: 0 10px;
}
.profile > form > a {
  align-self: flex-end;
  margin: 5px 0;
  color: var(--main-color);
}
.profile > form > p {
  text-align: center;
  margin: 5px 0;
  color: red;
  font-size: 0.9rem;
}
.profile__preview {
  width: 100%;
  height: 40vh;
  background-color: var(--main-color);
  background-size: cover;
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 5px;
  position: relative;
}
.profile__image__container {
  padding: 10px;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}
.profile__image__container > div:last-of-type,
.profile__preview__banner__btn {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  background-color: white;
  z-index: 20;
  font-size: 1.3rem;
  right: 20px;
  bottom: 20px;
  transition: all 1s;
}
.profile__image {
  width: 150px !important;
  height: 150px !important;
  background-color: red;
}
.profile__image__container > div:last-of-type:hover,
.profile__preview__banner__btn:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer !important;
}
.profile__image__container > div:last-of-type {
  position: unset !important;
  background-color: var(--main-color);
  margin-top: 10px;
  color: white;
}
