.notification {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2px 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
.notification > h1 {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: lowercase;
  color: var(--main-color);
}
.notification > p {
  width: 100%;
  justify-content: space-between;
  display: flex;
  font-size: 0.8rem;
}
.notification > p > span:last-of-type {
  color: gray;
  margin-left: 5px;
}
